{% extends "layouts/base.html.twig" %}

{% block title %}Liste des taches{% endblock %}

{% block body %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
  <div class="row">
    <div class="one-half column" style="margin-top: 25%">
      <h4>Liste des Tâches</h4>
    </div>
  </div>  
  <a class="button button-primary" href="/task/add">Ajouter une tâche</a>

    <table class="u-full-width">
      <thead>
          <tr>
              <th>Nom</th>
              <th>Description</th>
          </tr>
      </thead>

{# {% for task in tasks %}
      <tbody>
          <tr>
              <td>{{ task.getName }}</td>
              <td>{{ task.getDescription }}</td>
              <td><a href="/task/edit/{{ task.getId }}" class="button button-primary">Modifier</a></td>
          </tr>
      </tbody>
{% endfor %} #}

    </table>
</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}
