{% extends "layouts/base.html.twig" %}

{% block title %}Ajouter un projet{% endblock %}


{% block body %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 5%">
        <h4>Ajouter un projet</h4>
      </div>
    </div>
    {% for label, messages in app.flashes %}
      {% for errors in messages %}
        {% for error in errors %}
          <div class="flash-{{ label }} error">
              {{ error.message }}
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
    <!-- The above form looks like this -->
    <form action="/project/add/save" method="POST">
      <div class="row">
        <div class="column">
          <label for="name">Nom</label>
          <input class="u-full-width" type="text" id="name" name="name">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="description">Description</label>
          <input class="u-full-width" type="text" id="description" name="description">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="start_date">Date de début</label>
          <input class="u-full-width" type="date" id="start_date" name="start_date">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="end_date">Date de fin</label>
          <input class="u-full-width" type="date" id="end_date" name="end_date" >
        </div>
      </div>
      <a class="button button-primary" href="/project">Annuler</a>
      <input class="button-primary" type="submit" value="Save">
    </form>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}
