{% extends "layouts/base.html.twig" %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Ajouter un utilisateur</h4>
      </div>
    </div>

    <!-- The above form looks like this -->
    <form action="/user/save" method="POST">
      <div class="row">
        <div class="six columns">
          <label for="first_name">Prénom</label>
          <input class="u-full-width" type="text" id="first_name" name="first_name">
        </div>
        <div class="six columns">
          <label for="last_name">Nom</label>
          <input class="u-full-width" type="text" id="last_name" name="last_name">
        </div>
        <div>
          <label for="offset">Email</label>
          <input class="u-full-width" type="text" id="email" name="email">
        </div>
      
      </div>
      <input class="button-primary" type="submit" value="Enregistrer">
      <a href="../user" class="button button-primary" type="submit">Annuler</a>

    </form>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}
